{{#each this.viewData}}
{{log this.comments}}
<table>
  <head class="thead-light">
  </head>
  <body> 
    <ul>
    <div class="issue-container">
      <h5>Title: {{this.title}}</h5>
      <h5>{{this.repository_url}}</h5>
      <h5>Number of comments: {{this.comments}}</h5>
      <h5>Created: {{this.created_at}}</h5>
      <h5>Updated: {{this.updated_at}}</h5>
    </div>
    </ul>
  </body>
</table>
{{/each}}