<div class="wrapper">
  <h3>Issues</h3>
  {{#each this.viewData}}
    <ul>
      <div class="issue-container">
        <h5>Title: {{this.title}}</h5>
        <h5>{{this.repository_url}}</h5>
        <h5>Number of comments: {{this.comments}}</h5>
        <h5>Created: {{this.created_at}}</h5>
        <h5>Updated: {{this.updated_at}}</h5>
      </div>
    </ul>
  {{/each}}
  <h3>Notifications</h3> 
  {{#each this.viewData}}
  <ul>
    <div class="comment-container">
      <h5>Action: {{req.body.action}}</h5>
      <h5>Title: {{req.body.issue.title}}</h5>
      <h5>User: {{req.body.user}}</h5>
      <h5>Text: {{req.body.text}}</h5>
    </div>
  </ul>
  {{/each}}
</div>